@import url(fonts-css.css);

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "RobotoRegular", sans-serif;
}

.footer {
  width: 1440px;
  margin: 0 auto;
  background-color: #10367c;
  color: #ffffff;
}

.footer-item {
  width: 1440px;
  display: flex;
  padding: 120px 270px 200px 105px;
}

.list {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.list-item {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.item-flex {
  margin: 20px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
}

.item-flex-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
}

.title {
  padding: 64px 1000px 120px 105px;
}

.title-item {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
