@import url(../styles/fonts-css.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*блок advantages*/
.advantages {
  width: 1440px;
  background: #ffffff;
  padding: 120px 16px;
  margin: 0 auto;
}

.item-title {
  color: #383838;
  margin: 0 auto 104px;
  width: 306px;
  height: 47px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #f5bd41;
  margin: 20px 0 0 103px;
}

.wrapper {
  display: flex;
}

.block {
  width: 25%;
}

.item-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-title-block {
  text-align: center;
  margin-top: 58px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

/*блок footer*/
.footer {
  width: 1440px;
  margin: 0 auto;
  background-color: #10367c;
  color: #ffffff;
}

.footer-wrapper {
  padding: 120px 270px 120px 105px;
}

.footer-item {
  display: flex;
}

.list {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.list-item {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.item-flex {
  margin: 20px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
}

.item-flex-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
}

.title {
  margin-top: 65px;
}

.title-item {
  font-size: 14px;
  line-height: 16px;
}
